<div class="pill-group">
        @for (location of locations(); track location.id) {
          <button
            class="pill"
            [class.active]="selectedLocation?.id === location.id"
            (click)="selectLocation(location)">
            Location {{ location.identifier[0]?.value || location.id }}
          </button>
        }
      </div>
      <button (click)="addLocation()" title="ajout" class="add-btn" >+</button>
    <div class="divider"></div>

    <div class="right-side">
      @if (selectedLocation) {
        <div class="details-card">
          <h2 style="color: var(--gray-900); margin-top: 0;">
            Détails : {{ selectedLocation.name || selectedLocation.id }}
          </h2>
          <button (click)="modifLocation()" title="Modifier" class="edit-btn">Modifier</button>
          <!-- <button (click)="deleteLocation()" title="Supprimer" class="delete-btn">Supprimer</button> -->
          <hr style="border: 0; border-top: 1px solid #ddd; margin: 15px 0;">

          <hr style="border: 0; border-top: 1px solid #ddd; margin: 15px 0;">

          <p><strong>Type:</strong> {{ selectedLocation.type[0].coding[0].display }}</p>
          <p><strong>Control:</strong> {{ selectedLocation.extension[0]?.valueCodeableConcept.coding[0]?.display || 'Non spécifié' }}</p>
          <p style="margin-top: 15px;">
            <strong>Statut:</strong>
            <span class="status-badge"
                  [style.color]="selectedLocation.status == 'active' ? 'green' : 'red'">
              {{ selectedLocation.status }}
            </span>
          </p>
        </div>
      } @else {
        <div style="text-align: center; color: var(--gray-700); margin-top: 2rem;">
          <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          </svg>
          <p>Aucune sélection</p>
        </div>
      }
    </div>
